<div class="container">
    <div>
        <input matInput type="text" />
        <input matInput type="text" />
        <input matInput type="text" />
        <input matInput type="text" />
        <input matInput type="text" />
        <input matInput type="text" />

        <input matInput type="text" />
        <input matInput type="text" />
    </div>
    <mat-card *ngFor="let propriete of proprietes">
        <mat-card-header class="header">
            <mat-card-title><p>{{propriete.nom}}</p><p>{{propriete.prix}} €</p></mat-card-title>
            
            
        </mat-card-header>
        <mat-card-subtitle>
            <p>{{propriete.proprietaire.nom}}</p>
        </mat-card-subtitle>
        <mat-card-content>
            <p>{{propriete.adresse}}</p>
            <p>{{propriete.cp}}</p>
            <p>{{propriete.ville}}</p>
        </mat-card-content>        
    </mat-card>
</div>